# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#ignore some unwanted dir
/out
/.vscode
/Grading/.vscode
/Guessing Game/.vscode
/Simple-Calculator/.vscode
/Small & Big Number/.vscode